main{
  display:grid;
  grid-template:50% 50% /50% 50%;
  height:calc(100vh-180px);
}

section {
    padding: 5px 0px;
    text-align: center;

  }
h1{
    position:absolute;
    text-align: center;
    display:flex;
    margin:center;
    font-size: 40px;
    font-family:'Rubik Scribble',sans-serif;


  }
 
  #logo{
    width: 7%;
    display:grid;
    grid-area: 1;
    margin-top:30px;
  }
  #blackjackimg{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto; /* Center the container horizontally */
    }

  nav{
    display:flex;
    align-items: center;
    margin:0 10px;
    margin-top:-30px;
   
  }
  #hero {
   grid-area:1/1/2/3;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #whyUs {
    grid-area:2/1/2/2;
  }
  #callToAction {
  grid-area:2/2/2/3;
  flex-direction:column;
   
  }
  #copyright{
    font-size: 10px;
  }
  @media (max-width: 800px) {
    main{
      display:flex;
      flex-direction:column;
      align-items:center;
      row-gap:20px;
    }
   .disappearing{
    display:none;
   }
  }


