:root{
    --primary-color:#233142;
    --darkblue:#455d7a;
    --pink:#f95959;
    --grey:#e3e3e3;



}
a{
    font-size:30px;
}
a:link{
    text-decoration: none;

}
a:visited{
    color:var(--primary-color)
}
a:hover{
    text-decoration: underline;
}
a:focus{
    font-size:34px
}
a:active{
    text-decoration:underline;
}
header{
    position:absolute;
    top:0px;
    width:100vw;
    height: 100px;
    background-color: aliceblue;
    display:grid;
    left:0px;
    

}

h1{
    margin:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px ;
}

body{
    background-color:whitesmoke ;
}


ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Rubik Shadow Doodle',sans-serif;
 
  }
  

footer{
    position:fixed;
    bottom:0px;
    width:100vw;
    background-color:aliceblue;
    height: 80px;
    left:0px;
}
#copyright{
    position:absolute;
    bottom:35px;
    right:35px;
}
.mobileFeature{
    display:none;
}
@media(max-width:500px){
    
    li{
        display:inline;
        margin:20px;
    }
    .mobileFeature{
        display:flex;
    }
}