:root{
    --primary-color:#233142;
    --darkblue:#455d7a;
    --pink:#f95959;
    --grey:#e3e3e3;



}
#player,#dealer{
    margin-top:80px;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: calc(100vh-220px);
    column-gap:30px
}
#player{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    font-family:'Rubik Scribble',sans-serif;
    font-size:18px;
}


#dealer{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    font-family:'Rubik Scribble',sans-serif;
    font-size:18px;
  
}
#playeractions{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    font-family:'Rubik Scribble',sans-serif;
    font-size:18px;
}
ol li{
    padding:5px;
    height:140px;
    width:100px;
    margin:10px;
    border:2px solid ;
}
ol li:hover::after{
    
    content:attr(data-blackjack-value);
    position:fixed;
    background-color:var(--darkblue);
    color:var(--pink);
    width:40px;
    height:40px;
    padding:2px;
    margin-top:30px;
    margin-right:30px;
    margin-left:-30px;
    
    
    
}
h2,h3{
    font-family:'Rubik Doodle Shadow',sans-serif;
    font-size:32px;
}
body{
    background-color:white;
}
button{
    background-color: #455d7a;
    font-size: 15px;
    font-family: 'Rubik Doodle Shadow',sans-serif;
    color:var(--pink)
    
}
button:hover::before{
    content:attr(data-user-hints);
    position:absolute;
    left:20px;
    right:200px;
    box-sizing: border-box;
    width:220px;
    padding:20px;
    border:2px solid black;
}